@import '../variables/variables';
@import '../mixins/mixins';


// ==========  Grid   ========== //

.md-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $grid-gutter / 2;
  padding-right: $grid-gutter / 2;
  width: 100%;

  &.has-gutter {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (max-width: $screen-phone-breakpoint - 1px) {
    &.has-gutter--8 {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  @media (min-width: $grid-desktop-breakpoint) {
    &.has-gutter--24 {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &--box {
    max-width: 1160px;
  }
}

.md-row {
  display: flex;
  flex-wrap: wrap;
  .md-container.has-gutter  & {
    margin-left: -8px;
    margin-right: -8px;
  }
  @media (max-width: $screen-phone-breakpoint - 1px) {
    .md-container.has-gutter--8  & {
      margin-left: -4px;
      margin-right: -4px;
    }
  }
  @media (min-width: $grid-desktop-breakpoint) {
    .md-container.has-gutter--24  & {
      margin-left: -12px;
      margin-right: -12px;
    }
  }
}

.md-col {
  flex-basis: 100%;
  flex-grow: 1;
  max-width: 100%;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
  @media (max-width: $screen-phone-breakpoint - 1px) {
    .md-container.has-gutter--8 & {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
  @media (min-width: $grid-desktop-breakpoint) {
    .md-container.has-gutter--24 & {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}


////////// Desktop //////////

@media (min-width: $screen-tablet-breakpoint) {
  @for $i from 1 through $grid-desktop-columns {
    .md-col--#{$i} {
      @include flex-layout($i, $grid-desktop-columns);
    }
  }
  @for $i from 1 through $grid-desktop-columns {
    .md-col--#{$i}-md {
      @include flex-layout($i, $grid-desktop-columns);
    }
  }
  @for $i from 1 through ($grid-desktop-columns - 1) {
    .md-col--offset-#{$i}-md {
      @include flex-offset-size($i, $grid-desktop-columns);
    }
  }
}

////////// Tablet //////////

@media (min-width: $screen-phone-breakpoint) and (max-width: $screen-tablet-breakpoint - 1px) {

  @for $i from 1 through $grid-tablet-columns {
    .md-col--#{$i} {
      @include flex-layout($i, $grid-tablet-columns);
    }
  }

  @for $i from 1 through $grid-tablet-columns {
    .md-col--#{$i}-sm {
      @include flex-layout($i, $grid-tablet-columns);
    }
  }

  @for $i from 1 through ($grid-tablet-columns - 1) {
    .md-col--offset-#{$i}-sm {
      @include flex-offset-size($i, $grid-tablet-columns);
    }
  }

}

////////// Mobile //////////

@media (max-width: $screen-phone-breakpoint - 1px) {

  @for $i from 1 through $grid-phone-columns {
    .md-col--#{$i} {
      @include flex-layout($i, $grid-phone-columns);
    }
  }

  @for $i from 1 through $grid-phone-columns {
    .md-col--#{$i}-xs {
      @include flex-layout($i, $grid-phone-columns);
    }
  }

  @for $i from 1 through ($grid-phone-columns - 1) {
    .md-col--offset-#{$i}-xs {
      @include flex-offset-size($i, $grid-phone-columns);
    }
  }
}