@import 'flex-grid';
//@import 'grid-list';
@import 'flex';
@import 'align';
@import 'layout-grid';

// ==========  Layout   ========== //

.md-layout {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--fill {
    height: 100%;
    margin: 0;
    min-height: 100%;
    width: 100%;
  }

  &-rel{
    position: relative;
  }
  &-abs{
    position: absolute;
  }
  &-fix{
    position: fixed;
  }


}