
// ==========  Grid  ========== //

$screen-phone-breakpoint: 600px !default;
$screen-tablet-breakpoint: 960px !default;
$screen-desktop-breakpoint: 1280px !default;
$screen-large-desktop-breakpoint: 1440px !default;
//$screen-large-desktop-breakpoint: 1920px !default;

$grid-tablet-breakpoint: 600px !default;
$grid-desktop-breakpoint: 960px !default;
$grid-large-desktop-breakpoint: $screen-desktop-breakpoint !default;

$grid-columns: 12 !default;

$grid-desktop-columns: 12 !default;
$grid-desktop-gutter: 24px !default;
$grid-desktop-margin: 16px !default;
$grid-gutter: 16px !default;
$grid-margin: $grid-gutter;
$grid-has-tile-margin: 8px !default;

$grid-tablet-columns: 8 !default;
$grid-tablet-gutter: 16px !default;
$grid-tablet-margin: 16px !default;

$grid-phone-columns: 4 !default;
$grid-phone-gutter: 16px !default;
$grid-phone-margin: 16px !default;

$grid-cell-default-columns: $grid-phone-columns !default;
$grid-max-columns: $grid-desktop-columns !default;

//Grid List

$grid-list-phone-margin: 4px;
$grid-list-phone-gutter: 4px;

$grid-list-margin: 4px;
$grid-list-gutter: 4px;
$grid-list-gutter-narrow: 1px;
// mobile-small
@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) {

}
// mobile-large */
@media all and (min-width: 361px) and (orientation: portrait) {

}
// mobile-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {

}
// mobile-large-landscape */
@media all and (min-width: 481px) and (orientation: landscape) {

}
// tablet-small-landscape */
@media all and (min-width: 600px) and (max-width: 960px) and (orientation: landscape) {

}
// tablet-large-landscape */
@media all and (min-width: 961px) and (orientation: landscape) {

}
// tablet-small */
@media all and (min-width: 600px) and (orientation: portrait) {

}
// tablet-large */
@media all and (min-width: 601px) and (max-width: 840px) and (orientation : portrait) {

}
// desktop-x-small-landscape */
@media all and (min-width: 0) and (max-width: 480px) and (orientation: landscape) {

}
// desktop-x-small */
@media all and (min-width: 0) and (max-width: 480px) and (max-aspect-ratio: 4/3) {

}
// desktop-medium-landscape */
@media all and (min-width: 841px) and (max-width: 1280px) and (orientation: landscape) {

}
// desktop-medium */
@media all and (min-width: 841px) and (max-width: 1280px) and (max-aspect-ratio: 4/3) {

}
// desktop-large */
@media all and (min-width: 1281px) and (max-width: 1600px) {

}
// desktop-xlarge */
@media all and (min-width: 1601px) and (max-width: 1920px) {

}